.item{
  width: 25px;
  height: 25px;
  background: #F4AB00;
}
a{
  text-decoration: none;
}
.position-left{
  position: relative;
  right: 2000px!important;
}
.position-right{
  position: relative;
  right: 2000px!important;
}
.position-top{
  position: relative;
  bottom: 2000px!important;
}
.position-bottom{
  position: relative;
  top: 2000px!important;
}
.position-def{
  position: relative;
  right: 0px!important;
}

* {
  font-family: 'Nunito';
}
.border_under{
  color:black;
  position: relative;
}
.border_under:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.border_under:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.bxshdw{
  box-shadow: 0px 25px 100px 10px #E5E5E5;
}
.btn-purple{
  font-size: 18px;
  border: 2px solid #2C1258;
  border-radius: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  color: #2C1258;
  transition: 0.25s;
}
.btn-service{
  background-color: white;
  color:black;
  transition: 0.5s;
}
.btn-service:hover{
  background-color: #F4AB00;
  color: white;
}
.btn-purple:hover{
  background-color: #2C1258;
  color: white;
}
.btn-orange{
  border: 2px solid orange;
  font-size: 18px;
  background-color: orange;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
  color: white;
  transition: 0.5s;
}

.btn-orange:hover{
  border: 2px solid orange;
  background-color: white;
  color: orange;
}
.pse-0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.pos_style{
  top: 15px;
}
.modal-backdrop{
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(100, 37, 203, 0.34);
}
.offcanvas{
  background-color: #6425CB;
  opacity: 95%;
  a{

    color: white;
  }

}
.menu_btn{
  width: 10%;
  color: white;
}
.main_1{
  //font-family: 'Nunito';
  background-color: #6425CB;
  padding-bottom: 150px;

}
.main_2{
  //font-family: 'Nunito';
  background-image: url("/img/image-bg2.png");
  margin-top: -110px;
  background-repeat: repeat-x;

}
.main_3{
  margin-top:100px;
  padding-bottom: 50px;
}
.main_6{
  background-color: #421B81;
}
.main_7{
  margin-top: 0px;
  margin-bottom: 0px;
}
.main_8{
  background-color: #6425CB;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main_9{
  padding-top: 100px;
  padding-bottom: 100px;
}
.main_10{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #E5D8FA;
}
.main_11{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2C1258;
  .card{
    border-radius: 25px;
  }
}
.main_13{
  padding-top: 100px;
  padding-bottom: 100px;
}

.main_12{
  margin-top: -200px;
  .container{
    .row{
      .col-md-4{
        .card{
          border-radius: 15px;
        }
      }
    }
  }
}

.text-card{
  padding-top: 50px;
  padding-bottom: 50px;
}
.text-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.image-bg{
  img{
    position: relative;
    width: 100%;
  }
}

.id1{
  margin-top: -13px;
}

.main_4info{
  background-color: #6425CB;
  padding-top: 150px;
  padding-bottom: 150px;
}

.box{
  background-color: #F6F1FF;
  border-radius: 10px;
}


.clr-orng{
  color:orange;
}
.clr-orng_bc{
  background-color: orange;
}

.clr-white{
  color:white;
}
.clr-white_bc{
  background-color: white;
}
.fs-12{
  font-size: 12px;
}
.fs-15{
  font-size: 15px;
}
.fs-16{
  font-size: 16px;
}
.fs-17{
  font-size: 17px;
}
.fs-18{
  font-size: 18px;
}
.fs-19{
  font-size: 19px;
}
.fs-20{
  font-size: 20px;
}
.fs-21{
  font-size: 21px;
}
.fs-22{
  font-size: 22px;
}
.fs-23{
  font-size: 23px;
}
.fs-24{
  font-size: 24px;
}
.fs-28{
  font-size: 28px;
}
.fs-34{
  font-size: 34px;
}
.fs-38{
  font-size: 38px;
}
.fs-42{
  font-size: 42px;
}
.fs-50{
  font-size: 50px;
}
.fs-60{
  font-size: 60px;
}
.clr-purp_b{
  color: #2C1258;
}
.clr-purp{
  color:#604B83;
}
.clr-purp2{
  color: #5B25B3;
}
.border-rad{
  border-radius: 10px;
}
.p-75{
  padding: 75px;
}
.pt-150{
  padding-top: 150px;
}
.pt-125{
  padding-top: 125px;
}
.pt-75{
  padding-top: 75px;
}
.pt-40{
  padding-top: 40px;
}
.pe-150{
  padding-right: 150px;
}
.pb-25{
  padding-bottom: 25px;
}
.image1{
  object-fit: contain;
}
.image2{
  //object-fit: fill;
  margin-top: -50px;
  object-fit: contain;
}
.image3{
  object-fit: contain;
  width: 100% !important;
}
.social-link+.social-link{
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  footer{
    .footer-flex{
      display:flex;
      justify-content: center;
    }

  }
  .btn-mob{
    display: none;
  }
  .main_5info{
    display: flex;
  }
  .main_7{
    text-align: center;
    .avatar {
      padding-bottom: 0px;
      img {
        width: 75%;
        padding-bottom: 50px;
      }
    }

  }
  .main_9{
    .pad-side-75{
      padding-right: 125px;
      padding-left: 125px;
    }

  }
}

@media screen and (max-width: 768px) {
  .text-cent{
    text-align: center;
  }
  footer{
    .footer-flex{
      text-align: center;
    }
    .foot_info{
      justify-content: center;
    }
  }
  .main_1{
    .fs-60{
      font-size: 40px!important;
    }
    .fs-23{
      font-size: 19px;
    }
    .image1{
      img{
        padding-top: 20px;
        text-align: center!important;
        width: 80%;
      }
    }
  }
  .main_2{
    .p-mob{
      padding: 20px;
      .fs-42{
        font-size: 30px;
      }
      .fs-21{
        font-size: 18px;
      }
      .fs-19{
        font-size: 15px;
      }
      img{
        width: 50px;
      }
    }
  }
  .main_3{
    .fs-20{
      font-size: 15px;
    }
    .fs-42{
      font-size: 30px;
    }
    .image2{
      img{
        display: none;
      }
    }
    .image0{
      width: 100%;
      display: none ;
    }
    .box{
      .col-4{
        padding: 0px;
      }
    }
  }
  .main_4{
    .main4info1_1{
      padding-bottom: 50px;
    }
  }
  .main_5{
    .serv-cards{
      flex-direction: column !important;
      padding-right: 75px;
      padding-left: 75px;
    }
    .image3{
      img{
        display: none;
      }
    }
    .main_5info{
      justify-content: center;
    }
    .class1{
      padding-right: 0px!important;
    }
    .text-cent{
      text-align: center;
    }

  }
  .main_6{
    .fs-42{
      font-size: 30px;
    }
    .fs-21{
      font-size: 18px;
    }
    .fs-16{
      font-size: 12px;
    }
  }
  .main_7{
    text-align: center;
    .avatar {
      .col-12 {
        padding-bottom: 30px;
        .col-6{
          padding-left: 0px;
        }
        .col-3{
          width: 55%;
          margin-right: -75px!important;
        }
      }
    }
  }
  .main_9{
    .icons{
      img{
        width: 75%;
      }
    }
  }
  .main_12 {
    margin-top: -100px;
  }

  .mob-hide{
    display:none;
  }
  .rect{
    img{
      width: 25px;
    }
  }
  .image7{
    img{
      display: none;

    }
  }
  .image0{
    img{
      width: 90%;
    }
  }
}


  @media screen and (max-width: 576px) {
    .main_7{
      .avatar {
        img {
          width: 35%!important;
        }
      }
    }
    .main_3{
      .col-md-6{
        padding-top: 20px;
      }
      .pt-4{
        padding-right: 20%;
        padding-left: 20%;
      }
      .box{
        .fs-28 {
          font-size: 18px;
        }
      }
    }
    .main_5{
      .col-12{
        padding-right: 15%!important;
        padding-left: 15%!important;
      }
    }
    
  }