*{
    font-family: "Century Gothic";
}
nav{
    li{
        padding-right: 10px;
        padding-left: 10px;
        a{
            font-weight: none;
            font-size: 22px;
        }
        
    }
    a.navbar-brand{
        img{
            height: 10vw;
        }
    }
 }
 main {
     background-image: url(../images/bg.png);
 }
#catalog{
    .col-12{
        text-align: center;
        padding: 5px;
    }
    padding-top: 25px;
    .row{
        .col-md-2{
            a {
                color: saddlebrown;
            }
            a:hover{
                font-weight: bold;
                color: brown;
                text-decoration: none;
            }
        }
    }
}
#catalogitems{
    padding-bottom: 15px;
}
footer{
    background-color: saddlebrown;
    img{
        height: 10vh;
    }
}
 @media screen and (max-width: 576px){
    nav{
        img{
            width: 65vw;
        }
        a.navbar-brand{
            margin-left: 0;
        }
     }
     #catalogitems{
         padding-top: 20px;
         width: 75vw;
     }
    main{
        #carousel{
            img{
                height: 30vh;
            }
        }
    }
 }
 @media screen and (min-width: 576px){
    main{
        #carousel{
            img{
                height: 75vh;
            }
        }
    }   
 }