*{
    font-family: "Century Gothic";
}
nav{
    li{
        padding-right: 10px;
        padding-left: 10px;
        a{
            font-weight: none;
            font-size: 22px;
        }
        
    }
    a.navbar-brand{
        img{
            height: 10vw;
        }
    }
 }
 #workinfo{
    padding-top: 50px;
    text-align: justify;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        img{
            width: 750px;
        }
    }

    
 }
 .h1work{
     text-align: center;
 }
 .scale{
    transition: 0.25s;
 }
 .scale:hover{
    transform: scale(1.2);
 }
 main {
     background-image: url(../images/bg.png);
    }
#about{
        h1{
            font-size: 60px;
            font-weight: bold;
        }
    }
p#about{
           text-align: justify;
           font-size: 25px;
       }
#catalog{
    .col-12{
        text-align: center;
        padding: 5px;
    }
    padding-top: 25px;
    .row{
        .col-md-2{
            a {
                color: saddlebrown;
            }
            a:hover{
                font-weight: bold;
                color: brown;
                text-decoration: none;
            }
        }
    }
}
#carouselabout{
    padding-right: 0px;
    padding-left: 0px;
}
#catalogitems{
    padding-bottom: 15px;
}
footer{
    background-color: saddlebrown;
    img{
        width: 20vw; 
        height: 12vh;
    }
    #socNets {
        text-align: center;
        a {
            img {
                width: 40px;
                height: 40px;
                margin: 10px 5px;
            }
        }
    }
}
 @media screen and (max-width: 576px){
    nav{
        img{
           width: 65vw;
        }
        a.navbar-brand{
            margin-left: 0;
        }
     }
    main{
        #workinfo{
            h1{
                font-size: 30px;
            }
            img{
                width: 100vw;
            }
        }
        #alertCont{
            h3{
                font-size: 20px;
            }
        }
        #carousel{
            img{
                height: 40vh;
            }
        }
        #carouselabout{
            img{
                height: 30vh;
            }
        }
        #catalogitems{
            padding-top: 20px;
            width: 75vw;
        }
        #about{
            h1{
                font-size: 35px;
                font-weight: bold;
            }
        }
        p#about{
               text-align: justify;
               font-size: 15px;
           }        
    }
    footer{
        #imgfooter{
            width: 100%;
        }
    }
 }
 @media screen and (min-width: 576px){
    main{
        #carousel{
            img{
                height: 75vh;
            }
        }
    }   
 }